	/*清除浮动 */
.clear {
	zoom: 1;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
.bgfff
	background #ffffff
.h-module
	div
		margin 0
.h-public-header
	height 452px
	padding 0 30px
	display flex
	align-items center
	background #ff585d url('../img/8993888f5eda1883fac17d868b2816fc-719+114.png') center bottom no-repeat
	&>.row
		position relative
		flex 1
		display flex
	.sms
		position absolute
		right 0
		top 0
		transform translateY(-100%)
		width 42px
		padding-right 40px
		box-sizing content-box
		&:after
			content attr(data-number)
			position absolute
			right 0
			top -50%
			width 40px
			height 40px
			line-height 40px
			font-size 16px
			color #e7364a
			background #ffffff
			border-radius 50%
			text-align center
		img
			display block
		
	.pic
		position relative
		width 140px
		flex 0 0 140px
		img
			width 100%
		.v
			position absolute
			right 0
			top 0
	.content
		flex 1 1 auto
		padding-left 24px
		color #ffffff
		&.aic
			display flex
			align-items center
		h3
			padding-bottom 10px
			font-size 25px
			line-height 1
		.row
			display flex
			justify-content space-between
			font-size 21px
			line-height 2
		.df
			display flex
			align-items center
		.star
			display flex
			height 21px
		.a
			width 26px
			height 21px
			background  url('../img/aab72222d0cb46b904ea1e0ccea30fb5-22+21.png') left center/auto 100% no-repeat
			&.b
				background-image url('../img/a907e93bb13840e52a88784204b60def-22+21.png')
		.pt5
			padding-top 5px
		.tips
			width 110px
			height 35px
			font-size 20px
			color #ffffff
			text-align center
			line-height 35px
			background #f9c04e
			border-radius 5px
	.cal-container
		position absolute
		right 0
		bottom 0
		display flex
		text-align center
		transform translateY(100%)
		.pic
			img
				display block
				width 60px
				margin 0 auto
		h4
			padding-top 10px
			font-size 22px
			color #ffffff
	.account
		position absolute
		bottom 85%
		right 30px
		color #ffffff
		font-size 22px
.h-main-people-center
	.order
		display flex
		height 100px
		background #ffffff
		border-bottom 10px solid #efefef
		&.bdb20
			height 110px
			border-width 20px
		&>div
			flex 1
			height 100%
			display flex
			align-items center
			flex-direction column
			justify-content center
			&+div
				border-left 1px solid #cccccc
		font-size 18px
		line-height 1
		.number
			color #ff2e44
		.text
			padding-top 15px
			color #303030
	.menu
		background #ffffff
		display flex
		flex-wrap wrap
		border-left 1px solid #cccccc
		a
			flex 0 0 25%
			padding 15px 0 10px
			display flex
			flex-direction column
			align-items center
			justify-content center
			border-bottom 1px solid #cccccc
			border-right 1px solid #cccccc
			.pic
				img
					display block
					width 53px
			h3
				font-size 22px
				color #303030
				line-height 2
	.check-out
		padding 0 30px
		.input-container
			padding-top 60px
			padding-bottom 5px
			margin-bottom 10px
			display flex
			align-items center
			border-bottom 1px solid #cccccc 
			&:before
				width 80px
				text-align center
				line-height 50px
				content attr(data-symbol)
				font-size 43px
				color #ff4954
			input
				border none
				outline none
				background none
				border-radius 0
				margin 0
				padding 0
				height 50px
				font-size 25px
				color #b5b5b5
		.row
			padding-top 20px
			label
				display flex
				align-items center
				height 47px
			input
				margin-left 10px
				width 10px
				height 10px
				appearance none
				background #ffffff
				border-radius 50%
				box-shadow 0 0 0 5px #fff, 0 0 0 7px #303030
				&:checked
					background #ff5159
			span
				display block
				height 47px
				line-height 47px
				margin-left 25px
				padding-left 40px
				background url('') left center/26px auto no-repeat
			input[type=submit]
				height 74px
				width 100%
				line-height 74px
				font-size 34px
				text-align center
				color #ffffff
				background #ff5159
				border-radius 0
				box-shadow none
				border none
				padding 0
				margin 0
			
	.varsion
		padding-top 60px
		font-size 17px
		color #898989
		text-align center
.h-main-oder-details
	.row
		position relative
		display flex
		padding 0 30px
		height 80px
		align-items center
		font-size 21px
		color #303030
		border-bottom 1px solid #cccccc
		&.jcfe
			justify-content flex-end
		&.h130
			height 130px
		a
			position absolute
			right 30px
			top 0
			height 80px
			width 36px
			background url('../img/9de4f7fcdd149adee57511eb7cd22b7c-36+36.png') left center/100% auto no-repeat
		span
			color #ff4753
			padding-left 30px
	.input-cost
		margin-left 20px
		height 30px
		width 300px
		line-height 30px
		border-bottom 1px solid #cccccc
		display flex
		&:after
			content attr(data-after)
		&:before
			content attr(data-before)
			color #ff4753
		input
			height 100%
			padding 0 10px
			border none
			outline none
			border-radius 0
			background none
			font-size 21px
	input[type=submit]
		width 320px
		padding 0
		height 70px
		text-align center
		color #ffffff
		font-size 34px
		line-height 70px
		background #ff585d
		border none
	.server-status
		padding 0 30px
		border-top 15px solid #ccc
		border-bottom 1px solid #ccc
		h3
			margin 0
			font-size 25px
			line-height 80px
			color #303030
	.progress
		position relative
		display flex
		justify-content space-around
		align-items center
		height 160px
		color #303030
		font-size 21px
		&:after
			content ''
			position absolute
			top 50%
			left 0
			right 0
			height 2px
			background #cccccc
			transform translateY(-22px)
		.item
			&.active
				.round
					background #ff545a
					border-radius 50%
					box-shadow 0 0 0 5px #fff,0 0 0 7px #ff545a
		.round
			position relative
			z-index 1
			width 27px
			height 27px
			margin 0 auto
			background #cccccc
			border-radius 50%
			box-shadow 0 0 0 5px #fff,0 0 0 7px #cccccc
		h3
			margin 0
			margin-top 20px
			
			
.h-main-binding-user
	border-top 20px solid #efefef
	padding 0 30px
	&.bdtf9eff2
		border-top-color #f9eff2
	&.bdtfff
		border-top-color #fff
	.success
		text-align center
		img
			padding 90px 0 40px
			display block
			width 120px
			margin 0 auto
		h3
			margin 0
	.row
		display flex
		min-height 88px
		align-items center
		border-bottom 1px solid #cccccc
		&.bdn
			border none
		.title
			flex 0 0 155px
			font-size 22px
			color #303030
		.content
			position relative
			flex 1 1 auto
			display flex
			font-size 22px
			input
				margin 0
				padding 0
				border none
			a
				position absolute
				right 0
				top 50%
				transform translateY(-50%)
				height 60px
				line-height 60px
				color #ffffff
				font-size 28px
				text-align center
				width 210px
				background #ff5159
				border-radius 10px

		input[type=submit]
			height 74px
			width 100%
			line-height 74px
			font-size 34px
			text-align center
			color #ffffff
			background #ff5159
			border-radius 0
			box-shadow none
			border none
			padding 0
			margin 0
			margin-top 140px
			border-radius 10px
		.radio
			label
				flex 1
				display flex
				align-items center
				height 47px
			input
				margin-left 10px
				width 10px
				height 10px
				appearance none
				background #ffffff
				border-radius 50%
				box-shadow 0 0 0 5px #fff, 0 0 0 7px #303030
				&:checked
					background #ff5159
			span
				display block
				height 47px
				line-height 47px
				margin-left 25px
				padding-left 40px
				background url('') left center/26px auto no-repeat
	.tips
		padding-top 400px
		text-align center
		span
			display inline-block
			background url('../img/4807ac0c2ba25a103e5de7459a7c6c5e-26+26.png') left center/26px auto no-repeat
			font-size 17px
			color #303030
			padding-left 30px
			line-height 30px
			height 30px
.h-face-identify
	position relative
	height calc(100vh - 100px)
	background url('../img/9b8b90d69369a0f67f307f4b70682d82-717+1188.jpg') center center/100% auto no-repeat
	display flex
	align-items flex-end
	justify-content center
	padding-bottom 25%
	font-size 22px
	color #ffffff

.main-partner
	.join~*
		border-top 20px solid #ccc
	.banner
		img
			display block
			width 100%
	.join
		text-align center
		h3
			padding-top 50px
			font-size 32px
			color #303030
			font-weight bold
		.sub-title
			padding 20px 0 50px
			font-size 20px
			color #303030
			font-weight bold
		.pic
			padding-bottom 40px
			display block
			img
				display block
				width 470px
				margin 0 auto
	.why
		h3
			padding-top 45px
			font-size 32px
			color #303030
			line-height 1
			text-align center
			font-weight bold
		.row
			padding 50px 0
			display flex
			justify-content space-around
			background url('../img/435d97098dfb0822fdc08bce15596cbc-21+34.png') 33.33% 26% no-repeat, url('../img/435d97098dfb0822fdc08bce15596cbc-21+34.png') 66.66% 26% no-repeat
			
			.item
				width 30%
			h3
				font-size 24px
				line-height 1.5
			.pic
				img
					display block
					margin 0 auto
					width 118px
	.privileges
		h3
			padding-top 38px
			font-size 32px
			color #303030
			font-weight bold
		.pic
			padding 40px 0 30px
			img
				display block
				width 100%
	.free-join
		h3
			padding-top 38px
			font-size 32px
			color #303030
			font-weight bold
			text-align center
		.row	
			display flex
			min-height 88px
			align-items center
			border-bottom 1px solid #cccccc
			span
				color #ff2e44
				padding 0 20px
			.title
				flex 0 0 155px
				font-size 22px
				color #303030
				font-weight bold
			.content
				position relative
				flex 1 1 auto
				display flex
				font-size 22px
				input
					margin 0
					padding 0
					border none
			input[type=submit]
				height 74px
				width 100%
				line-height 74px
				font-size 34px
				text-align center
				color #ffffff
				background #ff5159
				border-radius 0
				box-shadow none
				border none
				padding 0
				margin 100px 0
				border-radius 10px
		